{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block title %}
Doist | {{user.username}} - Update
{% endblock title %}

{% block content %}
<div class="pl-2 pl-md-auto">
    <h2>Edit Your Profile</h2>


    <div class="row my-4">
        <div class="col-lg-9 pt-4" style="font-size: 1.1rem;">
            <form method="POST" enctype='multipart/form-data'>
                {% csrf_token %}

                <div class="form-group mb-4">
                    {{form.name|as_crispy_field}}
                </div>

                <div class="form-row mb-3">
                    <div class="col-md-6">
                        {{form.email|as_crispy_field}}
                    </div>
                    <div class="col-md-6">
                        {{form.phone_number|as_crispy_field}}
                    </div>
                </div>

                <div class="form-row">
                    <div class="col-md-6">
                        {{form.location|as_crispy_field}}
                    </div>
                    <div class="col-md-6">
                        {{form.gender|as_crispy_field}}
                    </div>
                </div>

                <button type="submit"
                    class="btn btn-success btn-block text-center font-weight-bold py-3 mt-4 mb-2">Update</button>

            </form>
        </div>
    </div>
</div>

{% endblock content %}