{% load static %}
{% load crispy_forms_tags %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous" />

    <!-- Fontawesome -->
    <script src="https://kit.fontawesome.com/2c253b3061.js" crossorigin="anonymous"></script>

    <script src="https://unpkg.com/feather-icons"></script>

    <link rel="stylesheet" href="{% static 'css/main.css' %}">

    <title>Doist | Sign Up</title>

</head>

<body>
    <nav class="navbar navbar-expand-md navbar-dark fixed-top py-1">
        <a class="navbar-brand mr-auto pl-md-4" href="{% url 'index' %}">Doist<i
                class="fas fa-check-double ml-2"></i></a>

        <div class="navbar-nav ml-md-auto mr-md-4">
            <a class="nav-item nav-link d-inline" href="{% url 'login' %}"><i class="fas fa-sign-in-alt mr-2"></i>Sign
                In</a>
        </div>

    </nav>



    <div class="row justify-content-center py-5 main">
        <div class="col-md-8 col-lg-6 pt-5">
            <center>
                <h3 class="text-muted font-weight-light">Sign Up</h3>
            </center>

            <div class="row justify-content-center mt-5">
                <div class="col-10 col-md-8 col-lg-7">

                    <form method="POST" enctype='multipart/form-data'>
                        {% csrf_token %}

                        <div class="form-group">
                            {{form.username|as_crispy_field}}
                        </div>

                        <div class="form-group">
                            {{form.email|as_crispy_field}}
                        </div>

                        <div class="form-group">
                            {{form.password1|as_crispy_field}}
                        </div>

                        <div class="form-group">
                            {{form.password2|as_crispy_field}}
                        </div>

                        <button type="submit"
                            class="btn btn-success btn-block text-center font-weight-bold py-3 mt-4 mb-2">Create
                            Account</button>
                        <small class="text-muted">Already have an account? <a href="{% url 'login' %}">Sign
                                in</a></small>

                    </form>
                </div>
            </div>

        </div>
    </div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>

    <script>
        feather.replace()
    </script>


    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
    <script type="text/javascript" src="{% static "ckeditor/ckeditor-init.js" %}"></script>
    <script type="text/javascript" src="{% static "ckeditor/ckeditor/ckeditor.js" %}"></script>
</body>

</html>