{% extends 'base.html' %}

{% block title %}
Doist | Tasks - Upcoming
{% endblock title %}

{% block content %}
<section class="today mb-3">
    <h2>Upcoming Tasks</h2>

    {% if upcoming_tasks %}
    <div class="today-task my-4">
        {% for task in upcoming_tasks %}
        <div class="row my-3 px-2 px-lg-3 py-3 no-gutters border-bottom">
            <div class="col-md-6 mb-2">
                <h5 class="m-0">
                    <a href="{{task.get_absolute_url}}" class="text-dark">{{task.name}}</a>
                </h5>
            </div>
            <div class="col-6 col-md-3 col-lg-3 pt-1">
                <small class="m-0">Date:<span class="text-muted ml-2">{{task.start_date}}</span></small>
            </div>
            <div class="col-6 col-md-3 col-lg-2 ">
                <a href="{% url 'task-delete' task.slug %}" class="text-danger btn m-0 p-0">
                    <small class="m-0"><i class="fa fa-trash mr-2"></i>Delete</small>
                </a>
            </div>
        </div>
        {% endfor %}
    </div>
    {% endif %}
</section>

{% endblock content %}